
		#main-title-heading {
           			background-color: #b1f2ff;
        }
		
		body { 
				background-color: #E5E4E2;
	}
		h1 {
            			color: rgb(0, 0, 0);
        }
		h1 {
				font-family: "Century Gothic";
        }
		p {
            			color: rgb(0, 0, 0);
				font-family: "Century Gothic";
        }
		ul, ol {
                		list-style-position: inside;
                		text-align: center;
                		padding-left: 0;
	}
		nav {
   				text-align: center;
    				margin: 20px 0;
	}

		nav ul {
    				list-style: none; 
    				padding: 0;
	}

		nav li {
    				display: inline; 
    				margin: 0 15px; 
	}

		nav a {
    				display: inline-block; 
    				text-decoration: none; 
    				color: #000000; 
    				background-color: #b1f2ff; 
    				padding: 10px 20px; 
    				border-radius: 5px; 
    				font-size: 1.2em; 
    				transition: background-color 0.3s; 
	}

		nav a:hover {
    				background-color: #0056b3; 
	}


		nav a i {	
    				margin-right: 5px; 
	}
