
		#main-title-heading {
           			background-color: #800020;
        }
		
		body { 
				background-color: #FFFDD0;
	}
		h1 {
            			color: rgb(255, 255, 255);
        }
		h1 {
			font-family: "Century Gothic";
        }
		p {
            			color: rgb(0, 0, 0);
        }
		ul, ol {
                list-style-position: inside; /* Makes sure the dots/numbers stay with the list item */
                text-align: center; /* Centers the text */
                padding-left: 0; /* Removes any default indentation */
            }
