
		#main-title-heading {
           			background-color: #f8f9ff;
        }
		
		body { 
				background-color: #FFFDD0;
	}
		h1 {
            			color: rgb(0, 0, 0);
        }
		h1 {
				font-family: "Century Gothic";
        }
		p {
            			color: rgb(0, 0, 0);
				font-family: "Century Gothic";
        }
		ul, ol {
                list-style-position: inside;
                text-align: center;
                padding-left: 0;
	}
